:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

*,
::after,
::before {
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    margin: 0 auto;
    max-width: 1140px;
    padding: 0 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    color: #111;
}

.m-center {
    margin-left: auto !important;
    margin-right: auto !important;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section__title {
    text-align: center;
    margin-bottom: 50px;
}

.section__title p {
    color: #614cab;
    margin-bottom: 15px;
    display: block;
}

.section__title h3 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 6px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px 0;
}

.card {
    flex: 0 0 calc(33% - 2rem);
    max-height: max-content;
    margin: 0 1rem;
    padding: 30px;
    background: #fff;
    border-radius: 1rem;
    text-align: center;
    transition: 0.5s ease-out;
}

.card:hover {
    background: #614cab;
}

.card:hover > * {
    color: white;
}

.card i {
    font-size: 56px;
    color: #614cab;
    min-width: 56px;
    max-width: 56px;
    min-height: 56px;
    max-height: 56px;
}

.card h5 {
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 20px;
}

.card p {
    margin: 0;
    line-height: 26px;
    color: #8a8a8a;
    font-weight: 400;
    width: 105%;
}
